@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
@import 'github-syntax-dark/lib/github-dark.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .layout {
    @apply w-screen h-screen overflow-auto flex flex-col items-center bg-[#0d1117] text-neutral-300 font-poppins;
  }
  .label {
    @apply bg-gradient-to-r from-indigo-500 to-purple-500 px-4 py-2 mt-2 font-normal rounded-lg text-white transition duration-300 hover:scale-105;
  }
  .label-selected {
    @apply bg-purple-700 px-4 py-2 mt-2 font-medium rounded-lg text-neutral-300;
  }
  .bg-black-gradient {
    background: linear-gradient(
      -168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #1f1e2c 91.61%
    );
  }

  .box-shadow {
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  }

  .bg-blue-gradient {
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
  }
}

